fuel_planner/.vscode
*.vscode/
*.clang-format
fuel_planner/utils/lkh_tsp_solver/resource/single.par
fuel_planner/utils/lkh_tsp_solver/resource/single.tsp
fuel_planner/utils/lkh_tsp_solver/resource/single.txt
fuel_planner/exploration_manager/resource/timeAndlength.txt
fuel_planner/exploration_manager/resource/curve1.txt
fuel_planner/exploration_manager/resource/coverage.txt